
h1 {
  margin-left: 100px;
  font-size: 50px;
}
.h1 {
  color: lightpink;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
p {
  margin-left: 100px;
  font-size: 15px;
color: #a89798;
}
input {
  margin-left: 100px;
  margin-top: 50px;
  padding-right: 100px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-radius: 30px;
}
body {
  background-image: url(file:///C:/Users/ALI%20RAZA/Desktop/github/base-apparel-coming-soon-challenge/images/bg-pattern-desktop.svg);
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
   
  
}
.hero-image {
  margin-left: 730px;
  margin-top: -661px;
}
button {
  padding-left: 40px;
  padding-right: 28px;
  padding-top: 15px;
  padding-bottom: 18px;
  border-radius: 50px;
  font-weight: bold;
  font-style: italic;
  color: white;
  font-size: 20px;
background-color:hsl(0, 73%, 54%) ;
  margin-left: -70px;
 
}
.input {
  margin-left: 0px;
}
::placeholder{
    color: lavender;
}
.logo{
  margin-left: 100px;
  margin-top: 100px;
}