
h1 {
  margin-left: 100px;
  
  letter-spacing: 10px;
  
}


p {
  margin-left: 100px;
  font-size: 15px;
  color: #a89798;
  font-weight: bold;
}
input {
  padding-left: 200px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 18px;
  margin-left: 100px;
  border-radius: 20px;
  outline: none;
  margin-top: 80px;
}
.FDSA {
  border-radius: 20px;
  outline: none;
}
body {
  background-image: url(file:///C:/Users/ALI%20RAZA/Desktop/github/base-apparel-coming-soon-challenge/images/bg-pattern-desktop.svg);
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}
.hero-image {
  margin-left: 730px;
  margin-top: -661px;
}
button {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 18px;
  border-radius: 5px;
  font-weight: bold;
  font-style: italic;
  color: white;
  border-radius: 20px;
  background-color: hsl(0, 73%, 54%);
  margin-left: -97px;
  box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.26);
}

::placeholder {
  color: lavender;
  
}
.logo {
  margin-left: 100px;
  margin-top: 70px;
}
